
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: none;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-12 ftco-animate pb-5 text-center">

                <h1 class="mb-0 bread">Thông tin sinh viên</h1>
                <div class="container-fluid pt-4">
                    <div class="row g-4" style="text-align:left">
                        @*<div class="col-sm-12 col-xl-4">
                            <div class="bg-light rounded h-100 p-4">
                                
                            </div>
                        </div>*@
                        <div class="col-md-12 fullwidth">
                            <div class="bg-light rounded h-100 p-4">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 padding30">
                                        <span class="NoiDungHoSo">Mã sinh viên:</span>
                                        <input type="text" class="form-control" readonly="" value="1571020232" style="font-weight:bold" fdprocessedid="fwoxn">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 padding30">
                                        <span class="NoiDungHoSo">Họ và tên:</span>
                                        <input type="text" class="form-control" readonly="" value="Trần Thị Thanh" fdprocessedid="yy5vub">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 padding30">
                                        <span class="NoiDungHoSo">Ngày sinh:</span>
                                        <input type="text" class="form-control" readonly="" value="01/01/2000" fdprocessedid="abc123">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 padding30">
                                        <span class="NoiDungHoSo">Giới tính:</span>
                                        <input type="text" class="form-control" readonly="" value="Nữ"  fdprocessedid="fwoxn">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 padding30">
                                        <span class="NoiDungHoSo">Email:</span>
                                        <input type="text" class="form-control" readonly="" value="ttt18082003@gmail.com" fdprocessedid="yy5vub">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 padding30">
                                        <span class="NoiDungHoSo">Địa chỉ:</span>
                                        <input type="text" class="form-control" readonly="" value="Thanh Hóa"  fdprocessedid="abc123">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 padding30">
                                        <span class="NoiDungHoSo">Lớp:</span>
                                        <input type="text" class="form-control" readonly="" value="CNTT-1501"  fdprocessedid="fwoxn">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 padding30">
                                        <span class="NoiDungHoSo">Khoa:</span>
                                        <input type="text" class="form-control" readonly="" value="Công nghệ thông tin" fdprocessedid="yy5vub">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 padding30">
                                        <span class="NoiDungHoSo">Trạng Thái:</span>
                                        <input type="text" class="form-control" readonly="" value="Đang học"  fdprocessedid="abc123">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Form End -->
</section>

