@model Education.Model.Entities.SinhVien
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/HoTroCoVan/Views/Shared/_Layout.cshtml";
}



<div class="content mb-5">
    <div class="card-body">
        <h5 class="card-title">Thêm sinh viên</h5>
        <form asp-action="Create" asp-controller="SinhVien" method="post" class="row g-3">
            <div class="col-md-6">
                <label asp-for="MaSv" class="form-label">Mã sinh viên</label>
                <input asp-for="MaSv" class="form-control" />
            </div>
            <div class="col-md-6">
                <label asp-for="HoTen" class="form-label">Tên sinh viên</label>
                <input asp-for="HoTen" class="form-control" />
            </div>
            <div class="col-md-6">
                <label asp-for="NgaySinh" class="form-label">Ngày Sinh</label>
                <input type= "date" asp-for="NgaySinh" class="form-control" />
            </div>

            <div class="col-md-6">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="col-md-6">
                <label asp-for="DiaChi" class="form-label">Địa chỉ</label>
                <input asp-for="DiaChi" class="form-control" />
            </div>
            <div class="col-md-6">
                <label asp-for="Lop" class="form-label">Lớp</label>
                <input asp-for="Lop" class="form-control" />
            </div>
            <div class="col-md-6">
                <label class="form-label">Giới tính</label>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="GioiTinh" value="Nam" id="gioiTinhNam">
                            <label asp-for="GioiTinh" class="form-check-label">Nam</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="GioiTinh" value="Nữ" id="gioiTinhNu">
                            <label asp-for="GioiTinh" class="form-check-label">Nữ</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label asp-for="Khoa" class="form-label">Khoa</label>
                <input asp-for="Khoa" class="form-control" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Trạng thái</label>
                <select asp-for="trangThai" class="form-control">
                    <option value="Đang học">Đang học</option>
                    <option value="Đã ra trường">Đã ra trường</option>
                    <option value="Khác">Khác</option>
                </select>
            </div>

            <div class="col-12 text-center mt-2">
                <button type="submit" class="btn btn-primary">Thêm mới</button>
                <button type="reset" class="btn btn-secondary">Hủy</button>
            </div>
        </form>
    </div>
</div>
