
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: none;">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="ftco-animate pb-5 text-center">
                <h1 class="mb-0 bread">Kết quả học tập</h1>
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Xem kiểm các môn đã học</h6>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h6 class="mb-0">Mã sinh viên: 1571020232</h6> &nbsp;&nbsp;&nbsp;
                            <h6 class="mb-0">Họ tên: Trần Thị Thanh</h6> &nbsp;&nbsp;&nbsp;
                            <h6 class="mb-0">Lớp: CNTT 15-01</h6> &nbsp;
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Tên Môn Học</th>
                                    <th scope="col">Số tín chỉ</th>
                                    <th scope="col">Điểm chuyên cần</th>
                                    <th scope="col">Điểm kt 1</th>
                                    <th scope="col">Điểm kt 2</th>
                                    <th scope="col">Điểm thi</th>
                                    <th scope="col">Điểm Trung Bình</th>
                                    <th scope="col">Điểm chữ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Lập trình mạng</td>
                                    <td>3</td>
                                    <td>10</td>
                                    <td>8.5</td>
                                    <td>8.0</td>
                                    <td>7.0</td>
                                    <td>8.5</td>
                                    <td>A</td>
                                </tr>
                                <tr>
                                    <td>Toán rời rạc</td>
                                    <td>3</td>
                                    <td>10</td>
                                    <td>8.5</td>
                                    <td>9.0</td>
                                    <td>9.0</td>
                                    <td>9.0</td>
                                    <td>A+</td>
                                </tr>
                                <tr>
                                    <td>Kiểm thử phần mềm</td>
                                    <td>2</td>
                                    <td>10</td>
                                    <td>8.5</td>
                                    <td>9.0</td>
                                    <td>8.0</td>
                                    <td>7.5</td>
                                    <td>B+</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

