@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/HoTroCoVan/Views/Shared/_Layout.cshtml";
}


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">EDUCATION</span>
                <h2 class="mb-4">Quản lý sinh viên</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 col-lg-2">
                <a href="/HoTroCoVan/SinhVien/Index" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url('@Url.Content("~/images/work-1.jpg")');">
                    <div class="text w-100 text-center">
                        <h3>Sinh viên</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-lg-2">
                <a href="/HoTroCoVan/KetQuaHocTap/Index" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url('@Url.Content("~/images/work-3.jpg")');">
                    <div class="text w-100 text-center">
                        <h3>Điểm</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-lg-2">
                <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url('@Url.Content("~/images/work-5.jpg")');">
                    <div class="text w-100 text-center">
                        <h3>Môn học</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>