
@{
    ViewData["Title"] = "Thongbao";
    Layout = "~/Views/Shared/_LayoutThongBao.cshtml";
}

<div class="message-container">
        <h2>Cảm ơn bạn đã liên hệ với chúng tôi!</h2>
        <p>Biểu mẫu của bạn đã được gửi thành công.</p>
    </div>

